<transaction-detail [transaction]="selectedTransaction"></transaction-detail>
<table class="mdDataTable">
    <thead>
    <tr>
        <th class="leftAlignedColumn">Date</th>
        <th class="leftAlignedColumn">Payee</th>
        <th class="leftAlignedColumn">Type</th>
        <th class="leftAlignedColumn">Amount</th>
        <th class="leftAlignedColumn">Balance</th>
    </tr>

    </thead>

    <tbody>
    <tr *ngFor="let transaction of transactions" (click)="onSelect(transaction)">
        <td class="column leftAlignedColumn">{{transaction.date | toDate | date | uppercase}}</td>
        <td class="column leftAlignedColumn">{{transaction.payee}}</td>
        <td class="column leftAlignedColumn">{{transaction.type}}</td>
        <td class="column leftAlignedColumn">{{transaction.amount}}</td>
        <td class="column leftAlignedColumn">{{transaction.balance}}</td>

    </tr>
    </tbody>


</table>
