<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">{{title}}</h1>
</nav>

<div *ngIf="transaction">

  <input type="text" [(ngModel)]="transaction.amount">

  <button class="btn btn-link" (click)="transaction=null">Close</button>
  <button class="btn btn-link" (click)="save(transaction)">Save</button>


</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>Date</th>
      <th>Payee</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Actions</th>

    </tr>

    </thead>

    <tbody>
    <tr *ngFor="let transaction of transactions | async">
      <td>{{transaction.date | date:'shortDate'}}</td>
      <td>{{transaction.payee}}</td>
      <td>{{transaction.type}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.balance}}</td>
      <button class="btn btn-link" (click)="edit(transaction)">Edit</button>
      <button class="btn btn-link" (click)="delete(transaction)">Delete</button>
      <button class="btn btn-link" (click)="copy(transaction)">Copy</button>
      <button class="btn btn-link" (click)="copy(transaction,true)">Copy 1 Month</button>

    </tr>
    </tbody>


  </table>

</div>
