<form name="payeeForm" novalidate>
  <md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Payee</h2>
        </div>
    </md-toolbar>


    <md-dialog-content>
      <md-content layout-padding>

        <div ng-repeat="alert in alerts" close="closeAlert($index)">
            {{alert.msg}}
            <md-button class="md-icon-button" aria-label="close" ng-click="closeAlert($index)">
                <md-icon md-font-set="material-icons">clear</md-icon>
            </md-button>
        </div>

        <md-input-container>
            <label>Payee</label>
            <input ng-model="payee.name" autocomplete="off" name="name" required ng-readonly="isEditing" />
        </md-input-container>




        <div class="row" style="text-align: left; padding-left: 10px; padding-top:10px">
            <fieldset>
                <input ng-model="payee.type" type="radio" name="type" id="type-i" value="i" />
                <label for="type-i" class="legend payee-type-i">I</label>Income
                <br>
                <input ng-model="payee.type" type="radio" name="type" id="type-s" value="s" />
                <label for="type-i" class="legend payee-type-s">S</label>Static
                <br>
                <input ng-model="payee.type" type="radio" name="type" id="type-d" value="d" />
                <label for="type-i" class="legend payee-type-d">D</label>Discretionary
                <br>
                <input ng-model="payee.type" type="radio" name="type" id="type-f" value="f" />
                <label for="type-i" class="legend payee-type-f">F</label>Future
                <br>
                <input ng-model="payee.type" type="radio" name="type" id="type-none" value="o" />
                <label for="type-none" class="legend payee-type-o">O</label>Other
                <br>
            </fieldset>

        </div>

      </md-content>
          <div class="md-actions">
              <md-button class="md-raised md-primary" ng-click="ok()">Save</md-button>
              <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
          </div>
        </md-dialog-content>
      
</md-dialog>
</form>
