<form name="transactionForm" novalidate>
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Transaction</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div ng-repeat="alert in alerts" close="closeAlert($index)">
                {{alert.msg}}
                <md-button class="md-icon-button" aria-label="close" ng-click="closeAlert($index)">
                    <md-icon md-font-set="material-icons">clear</md-icon>
                </md-button>
            </div>

            <md-input-container>
                <label>Amount</label>
                <input id="amount" type="text" ng-model="transaction.amount" ng-model-options="{updateOn: 'blur'}" autocomplete="off" name="amount" required placeholder="Amount" />
            </md-input-container>
            <md-input-container>
                <label>Memo</label>
                <input id="amount" type="text" ng-model="transaction.memo" autocomplete="off" name="memo" required placeholder="Memo, Check Num, etc." />
            </md-input-container>
            <md-datepicker id="date" ng-model="transaction.date" show-weeks="showWeeks"></md-datepicker>
            <div class="md-actions">
                <md-button class="md-raised md-primary" ng-click="ok()">Save</md-button>
                <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
            </div>
        </md-dialog-content>


    </md-dialog>
</form>
