<form name="transactionForm" novalidate>
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Transaction</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>

          <div ng-repeat="alert in alerts" close="closeAlert($index)">

              {{alert.msg}}

              <md-button class="md-icon-button" aria-label="close" ng-click="closeAlert($index)">
                <md-icon md-font-set="material-icons">clear</md-icon>
              </md-button>


          </div>


            <div class="form-horizontal" role="form">

                <div class="form-group">

                    <label class="col-sm-2 control-label" for="amount">Amount</label>
                    <div class="col-sm-10">

                        <input id="amount" type="text" class="form-control" ng-model="transaction.amount" ng-model-options="{updateOn: 'blur'}" autocomplete="off" name="amount" required placeholder="Amount" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="memo">Memo</label>
                    <div class="col-sm-10">
                        <input id="amount" type="text" class="form-control" ng-model="transaction.memo" autocomplete="off" name="memo" required placeholder="Memo, Check Num, etc." />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="payee">Payee</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-disabled="transaction.name!=null" ng-model="transaction.payee" ng-options="payee.payee as payee.payee group by payee.typeName for payee in payees">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="date">Date</label>

                    <div class="col-sm-offset-0 col-sm-9">
                        <datepicker id="date" ng-model="transaction.date" show-weeks="showWeeks"></datepicker>

                    </div>
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                    </div>

                    <div class="md-actions">
                        <md-button class="md-raised md-primary" ng-click="ok()">Save</md-button>
                        <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
                    </div>
        </md-dialog-content>


    </md-dialog>
</form>
